package layout

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Http Template</title>
			<link href="assets/css/output.css" rel="stylesheet"/>
		</head>
		<body>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
